<!DOCTYPE html>
<html>
	<!-- Designed by Dan Fuhry in Rochester. (lol) -->
	<!-- :mode=html: (to make jEdit happy) -->
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<title>CSH: WebAuth Login</title>
		<link rel="stylesheet" type="text/css" href="/images/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/images/bootstrap/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" type="text/css" href="/images/webauth.css" />
		
		<script type="text/javascript" src="/images/jquery.js"></script>
		<script type="text/javascript" src="/images/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="form-wrapper">
			<div class="csh-logo">
				<img alt="Computer Science House" src="/images/csh-logo.png" />
			</div>
			
			<div class="alert alert-error">
				<p><strong>The system is unable to log you in.</strong></p>
				
				<!-- Error: browser submitted login page via GET -->
				[% IF err_bad_method %]
				Error: Login form not properly submitted.<br />
				Your browser has improperly submitted the login form
				   via GET instead of POST, which risks exposing your
				   password in your browser history and to other web sites
				   you visit.  Please check that your browser is not
				   misconfigured and you do not use browser plugins that
				   override proper form handling.
				[% END %]
				
				<!-- Error: cookies disabled in web browser -->
				[% IF err_cookies_disabled %]
				Error: You must enable cookies on your web browser.<br />
				You have just tried to access a web service that is
				   protected by WebAuth.  However, WebAuth is unable to
				   tell this web service who you are because your browser
				   has cookies disabled.<br />
				WebAuth depends on cookies to communicate with your web
				   service.  Please enable cookies in your web browser.
				[% END %]
				
				<!-- Error: no response token -->
				[% IF err_no_request_token %]
				Error: The URL given is incomplete.
				[% END %]
				
				<!-- Error: missing data when redisplaying the confirm page -->
				[% IF err_confirm %]
				Error: Necessary form data was missing.<br />
				You have probably accessed a stale cached page by
				   mistake.
				[% END %]
				
				[% IF err_webkdc %]
				Error: [% err_msg FILTER html %]
				[% END %]
			</div>
		</div>
	</body>
</html>
