<!DOCTYPE html>
<html>
	<!-- Designed by Dan Fuhry in Rochester. (lol) -->
	<!-- :mode=html: (to make jEdit happy) -->
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<title>CSH: WebAuth Login</title>
		<link rel="stylesheet" type="text/css" href="/images/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/images/bootstrap/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" type="text/css" href="/images/webauth.css" />
		
		<script type="text/javascript" src="/images/jquery.js"></script>
		<script type="text/javascript" src="/images/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="form-wrapper">
			<div class="csh-logo">
				<img alt="Computer Science House" src="/images/csh-logo.png" />
			</div>
			
			<div class="alert alert-success">
				<p><strong>Logout complete.</strong></p>
				<p>Your Webauth cookie has been deleted. However if you are logged into multiple sites, you may continue to be
					logged into sites other than the one you explicitly logged out of for a period of time.</p>
				<p>To ensure complete logout from all Webauth sites, either clear cookies or close your browser.</p>
			</div>
		</div>
	</body>
</html>
