<!DOCTYPE html>
<html>
	<!-- Designed by Dan Fuhry in Rochester. (lol) -->
	<!-- :mode=html: (to make jEdit happy) -->
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<title>CSH: WebAuth Login</title>
		<link rel="stylesheet" type="text/css" href="/images/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/images/bootstrap/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" type="text/css" href="/images/webauth.css" />
		
		<script type="text/javascript" src="/images/jquery.js"></script>
		<script type="text/javascript" src="/images/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="form-wrapper">
			<div class="csh-logo">
				<img alt="Computer Science House" src="/images/csh-logo.png" />
			</div>
			
			[% IF success %]
			<div class="alert alert-success">
				<p><strong>Your password has been successfully changed.</strong></p>
			</div>
			
			<p><a class="btn btn-inverse btn-mini" href="https://members.csh.rit.edu/">Go to members</a></p>
			[% ELSE %]
			
			<form name="pwchange" action="[% script_name FILTER html %]" method="post" autocomplete="OFF" enctype="application/x-www-form-urlencoded">
			
				<input type="hidden" name="rm" value="pwchange">
				<input type="hidden" name="RT" value="[% RT FILTER html %]">
				<input type="hidden" name="ST" value="[% ST FILTER html %]">
				<input type="hidden" name="CPT" value="[% CPT FILTER html %]">
				<input type="hidden" name="changepw" value="yes">
				<input type="hidden" name="expired" value="[% expired FILTER html %]">
				
				<div class="control-group csh-username">
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on">
								<i class="icon icon-white icon-user"></i>
							</span>
							
							[% IF skip_username %]
							<input type="hidden" name="username" value="[% username FILTER html %]">
							<input type="text" class="input-medium" readonly="readonly" value="[% username FILTER html %]" />
							<input type="hidden" name="skip_username" value="1">
							[% ELSE %]
							<input type="text" class="input-medium" name="username" placeholder="Username" value="[% username FILTER html %]" />
							[% END %]
						</div>
					</div>
				</div>
				
				[% UNLESS skip_password %]
				<div class="control-group csh-password">
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on">
								<i class="icon icon-white icon-lock"></i>
							</span>
							<input type="password" class="input-medium" name="password" placeholder="Old password" />
						</div>
					</div>
				</div>
				[% END %]
				
				<div class="control-group csh-password">
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on">
								<i class="icon icon-white icon-lock"></i>
							</span>
							<input type="password" class="input-medium" name="new_passwd1" placeholder="New password" />
						</div>
					</div>
				</div>
				
				<div class="control-group csh-password">
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on">
								<i class="icon icon-white icon-lock"></i>
							</span>
							<input type="password" class="input-medium" name="new_passwd2" placeholder="Confirm" />
						</div>
					</div>
				</div>
				
				<div class="control-group csh-submit">
					<button class="btn btn-inverse btn-mini">
						Change Password
					</button>
					
					&nbsp;
					
					[% IF login_cancel %]
						&nbsp;
						<a class="btn btn-mini" href="[% cancel_url FILTER html %]">Cancel</a>
					[% END %]
				</div>
				
				[% IF error %]
					<div class="alert alert-error">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						
						[% IF err_username && err_password %]
							<!-- Error: no username or password submitted. -->
							Error: Enter your username and password.
						[% ELSIF err_username %]
							<!-- Error: no username submitted. -->
							Error: Enter your username.
						[% ELSIF err_password %]
							<!-- Error: no password submitted. -->
							Error: Enter your password.
						[% END %]
						[% IF err_newpassword %]
							<!-- Error: at least one of the new password fields was empty. -->
							Error: Enter your new password twice.
						[% END %]
						[% IF err_newpassword_match %]
							<!-- Error: new passwords do not match. -->
							Error: The two entries for your new password must match.
						[% END %]
						
						[% IF err_loginfailed %]
							<!-- Error: login failed. -->
							Error: You entered an incorrect username or password (or both).
						[% END %]
						
						[% IF err_rejected %]
							<!-- Error: user principal rejected. -->
							Error: That username may not authenticate to this service.
						[% END %]
						
						[% IF err_pwweak %]
							<!-- Error: password was too weak. -->
							Error: The password given failed strength checking.
							Please enter a more difficult password not based on a dictionary
							word.
						[% END %]
						
						[% IF err_pwchange %]
							<!-- Error: password change attempted, failed. -->
							Error: [% err_msg FILTER html %].
						[% END %]
					</div>
				[% END %]
				[% IF remuser_failed %]
					<div class="alert alert-error">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						Error: Apache authentication was tried and failed.
					</div>
				[% END %]
			</form>
			[% END %] <!-- END if success -->
		</div>
	</body>
</html>

