body {
	color: white;
	background-color: #555;
}

div.form-wrapper {
	padding: 10% 0 0 0;
	display: table;
	margin: 0 auto;
	text-align: center;
}

div.csh-logo {
	margin-bottom: 2em;
}

div.csh-username span.add-on, div.csh-password span.add-on {
	background-color: transparent;
}

div.alert {
	font-size: smaller;
	text-align: left;
	margin: 3em auto;
	max-width: 50%;
}

div.alert-error {
	color: white;
	background-color: #aa0000;
}

div.alert-success {
	color: white;
	background-color: #009900;
}
